# Pandas Cheatsheet

A comprehensive reference guide for common Pandas functions and operations.

In [1]:
import pandas as pd
import numpy as np

## 1. Core Functions

In [ ]:
# Create DataFrame
df = pd.DataFrame({'col1': [1, 2, 3], 'col2': ['a', 'b', 'c']})
# pass the dataframe as a dict

# Read data
# pd.read_csv('file.csv')
# pd.read_excel('file.xlsx')

# View data
df.head()      # First 5 rows
df.tail()      # Last 5 rows
df.sample()    # Random sample

# Select columns
df['column_name']              # Single column
df[['col1', 'col2']]           # Multiple columns

# Filter rows
df[df['column_name'] > value]

# Basic info
df.describe()  # Statistical summary
df.info()      # Data types and memory usage

# Handle missing values
df.dropna()    # Remove rows with NaN
df.fillna()    # Fill NaN values

# "na" stands for "not available" or "not applicable".

# Sort
df.sort_values('column_name')

# Group and aggregate
df.groupby('column')
df.agg({'col': 'mean'})

# Add/modify columns
df['new_col'] = ...

# Rename
df.rename(columns={'old': 'new'})

# Drop
df.drop('column', axis=1)      # Drop column
df.drop(index=[0, 1])          # Drop rows

# Export
# df.to_csv('file.csv')
# df.to_excel('file.xlsx')

In [2]:
file_path = "../data/ml-20m/movies.csv"
df = pd.read_csv(file_path)
df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
27273,131254,Kein Bund für's Leben (2007),Comedy
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy
27275,131258,The Pirates (2014),Adventure
27276,131260,Rentun Ruusu (2001),(no genres listed)
27277,131262,Innocence (2014),Adventure|Fantasy|Horror

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  27278 non-null  int64
 1   title    27278 non-null  object
 2   genres   27278 non-null  object
dtypes: int64(1), object(2)
memory usage: 639.5+ KB

In [5]:
df.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

## 2. Data Manipulation

In [ ]:
# Index operations
df.set_index('column')        # Set index
df.reset_index()              # Reset index

# Conditional filtering
df[df['condition']]

# Selection by label/position
df.loc[row_label, col_label]  # Label-based
df.iloc[row_idx, col_idx]     # Position-based

# Sorting
df.sort_values('column')
df.sort_index()

# Combine DataFrames
pd.concat([df1, df2])         # Concatenate
df.append(other_df)           # Append (deprecated, use concat)
df.merge(other_df, on='key')  # Merge/join

## 3. Data Cleaning

In [ ]:
# Handle missing values
df.dropna()                   # Remove rows/cols with NaN
df.fillna(value)              # Fill NaN with value

# Remove duplicates
df.drop_duplicates()

# Type conversion
df.astype({'col': 'int'})     # Convert column types

# String operations
df['col'].str.upper()         # Uppercase
df['col'].str.contains('text') # Check if contains

## 4. Data Analysis

In [ ]:
# Grouping and aggregation
df.groupby('col').agg({'other_col': 'mean'})

# Pivot tables
df.pivot_table(values='val', index='row', columns='col', aggfunc='mean')
pd.crosstab(df['col1'], df['col2'])

# Statistical functions
df.mean()                     # Mean
df.median()                   # Median
df.sum()                      # Sum
df.std()                      # Standard deviation

# Correlation
df.corr()                     # Correlation matrix

# Plotting
df.plot()                     # Basic plot

## 5. Data Transformation

In [ ]:
# Apply functions
df.apply(func)                # Apply function to rows/cols
df['col'].map(dict)           # Map values using dict

# Binning
pd.cut(values, bins)          # Cut into bins
pd.qcut(values, q)            # Quantile-based cut

# Reshape
df.melt()                     # Wide to long format
df.pivot()                    # Long to wide format

## 6. Time Series Data

In [ ]:
# Convert to datetime
pd.to_datetime(df['date_col'])

# Resample time series
df.resample('D').mean()       # Daily resampling

# Set datetime index
df.set_index('date_col')

# Shift data
df.shift(1)                   # Shift by periods

# Rolling window
df.rolling(window=3).mean()  # Rolling mean

## 7. I/O and Data Sources

In [ ]:
# Read from files
# pd.read_csv('file.csv')
# pd.read_excel('file.xlsx')
# pd.read_json('file.json')
# pd.read_parquet('file.parquet')

# Write to files
# df.to_csv('file.csv')
# df.to_excel('file.xlsx')
# df.to_json('file.json')
# df.to_parquet('file.parquet')

# Database operations
# pd.read_sql(query, connection)
# df.to_sql('table_name', connection)

# Web Scraping
# Libraries: Beautiful Soup, Requests

## 8. Working with Text Data

In [ ]:
# String extraction
df['col'].str.extract(r'pattern')

# String manipulation
df['col'].str.split('delimiter')
df['col'].str.replace('old', 'new')
df['col'].str.upper()
df['col'].str.lower()
df['col'].str.strip()

## 9. Visualization

In [ ]:
# Matplotlib: Basic plotting
import matplotlib.pyplot as plt
df.plot(kind='line', x='col1', y='col2')
df.plot(kind='bar')
df.plot(kind='hist')

# Seaborn: Enhanced visualizations
import seaborn as sns
sns.boxplot(data=df, x='col1', y='col2')
sns.heatmap(df.corr())
sns.scatterplot(data=df, x='col1', y='col2')

## 10. Grouping and Aggregating

In [ ]:
# Group by
df.groupby('column')

# Aggregation functions
df.agg({'col': 'mean'})
df.mean()
df.sum()
df.count()
df.max()
df.min()
df.std()
df.var()

# Multiple aggregations
df.groupby('col').agg({'col1': 'mean', 'col2': 'sum'})

## 11. Advanced Topics

In [ ]:
# MultiIndex DataFrames
df.set_index(['col1', 'col2'])  # Create MultiIndex
df.xs('key', level='level_name') # Cross-section

# Handling Categorical Data
df['col'] = df['col'].astype('category')
df['col'].cat.categories
df['col'].cat.codes

# Advanced Plotting
# Custom plots with matplotlib/seaborn
# Interactive plots with plotly

# Time Series Analysis
# Seasonal decomposition
# ARIMA models
# Time series forecasting

## 12. Pandas Ecosystem

In [ ]:
# NumPy: Interoperability with NumPy arrays
arr = df.values              # DataFrame to NumPy array
df = pd.DataFrame(arr)       # NumPy array to DataFrame
np.array(df['col'])          # Series to NumPy array

# Scikit-Learn: Integration with machine learning pipelines
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Convert DataFrame to features
X = df[['feature1', 'feature2']]
y = df['target']

# Train/test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)